.navbar {
  background-color: aqua;
  position: fixed;
  top: 0;
  right: 0;
  height: 59px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: calc(100% - 250px);
  border-bottom: solid 1px var(--el-border-color);
  z-index: 2001;
  transition: width 0.3s linear, border-color var(--el-transition-duration),
    background-color var(--el-transition-duration);

  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .navbar-items-group-left,
  .navbar-items-group-right {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .navbar-item {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    line-height: 100%;
    font-size: var(--el-font-size-base);
    text-align: center;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color var(--el-transition-duration), background-color var(--el-transition-duration),
      color var(--el-transition-duration);

    :deep() a {
      color: currentColor;
    }

    &:hover,
    &:active {
      background-color: var(--el-color-primary-light-9);
      color: var(--el-color-primary);
    }

    :deep() &.is-actived {
      color: var(--el-color-primary);
      border-bottom: 2px solid var(--el-color-primary);
    }
  }

  .icon-btn {
    font-size: 1.5em;
    line-height: 1em;
    background: none !important;
    border-bottom: none;
    -webkit-touch-callout: none;
    cursor: default;

    :deep() .el-icon {
      cursor: pointer;
    }
  }
}

.hide-sidebar-btn {
  .el-icon {
    transition: transform 0.6s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  }

  .sidebar-hide & .el-icon,
  .sidebar-collapse & .el-icon {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    /*兼容IE*/
    filter: FlipH;
  }
}
